.header_cont {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    user-select: none;
    width: 470px;

    margin-top: 20px;
    padding: 5px;
}

.header_text {

}

.text_pop {
    text-decoration: underline;
    cursor: pointer;

    display: inline-block;
}

.text_pop:active {
    transform: translateY(-20%);
}


.text_grey {
    color: grey;
}

.text_pink {
    color: pink;
}