
.app_wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app_cont {
    border-radius: 5px;

    /* and I might only need this height because 
    cont body child doesn't have designated sizing */
    height: 650px;

    display: flex;
    justify-content: center;
    
    padding: 10px;
}

.app_cont .Typewriter {
    font-size: 1.5rem;
    color: white;

    cursor: crosshair;
}