
.app_wrapper {
    padding: 10px;

}

.app_cont {
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255, 0.5);

    /* and I might only need this height because 
    cont body child doesn't have designated sizing */
    height: 650px;

    display: flex;
    justify-content: center;
    
    padding: 10px;
}

.header_cont {
    /* height: 10vh; */
}

.app_cont .Typewriter {
    font-size: 1.5rem;
    color: white;

    cursor: crosshair;
}